@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border:0;

    font-family:Poppins, sans-serif;
}
header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding: 10px 0;
    box-sizing: border-box;
}
div>img{
    max-width: 250px;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    align-items: center;
}
ul li a{
    text-decoration: none;
    color:#011301 ;
    display: inline-block;

}
li a::after {
    content:'';
    display: block;
    height: 3px;
    width: 0;
    background-color: #011f01;
    transition:all 0.4s;
}
li a:hover::after{
    width: 100%;
}
main{
    display: flex;
    height: calc(100vh - 102px);
    align-items: center;
    justify-content: center;
}
.left {
    width: 30%;
    text-align: justify;
}
main h1 {
    font-size: 3em;
    color: rgb(4, 95, 8);
    text-transform: uppercase;

}
main h2 {
    font-size: 1.3em;
    color: #134f2c;
    text-transform: uppercase;
    text-indent: 3px;
    font-weight: 400;
    letter-spacing: 5px;

}
p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0 20px;
}

.right img{
    max-width: 40rem;
}
.left .btn {
    position: absolute;
    padding: 15px 50px;
    display: block;
    border:none;
    border-radius: 50px;
    outline:none;
    background-color: #006400;
    color:white;
    transition: all 0.4s;
    font-size: 1em;
    margin:20px 0 0 0;
}

ul :last-child a {
    background-color: #006400;
    padding: 10px 28px;
    color:white;
    border-radius: 50px;
    margin:0 0 0 20px;
    font-weight: 700;
    font-size: 1.09em;
    transition: all 0.4s; 
}
ul :last-child a:hover{
    cursor:pointer;
    transform: scale(1.1,1.1);

}
ul :last-child a:hover::after{
    width: 0;
}
.left .btn:hover{

    cursor:pointer;
    transform: scale(1.1,1.1);
}